.u-section-1 .u-sheet-1 {
  min-height: 294px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 187px;
  height: 187px;
  margin: -185px 29px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 866px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 4px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 203px;
  height: 74px;
  margin: -516px 400px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 171px;
  height: 171px;
  margin: 291px 422px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 215px;
  height: 103px;
  margin: -347px 400px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    inset: auto;
    height: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: 337px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 369px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 137px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 169px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 125px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 872px;
  margin: 41px auto 0;
}

.u-section-3 .u-text-3 {
  width: 872px;
  margin: 36px auto 0;
}

.u-section-3 .u-image-1 {
  width: 1046px;
  height: 515px;
  margin: 36px auto 60px 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 462px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 167px;
  }
}